main.acn
main.acr
main.alg
main.aux
main.bbl
main.bbl-SAVE-ERROR
main.bcf
main.blg
main.fdb_latexmk
main.fls
main.glg
main.glo
main.gls
main.lof
main.log
main.pdf
main.run.xml
main.synctex.gz
main.toc
main.xdy
preamble.acn
preamble.aux
preamble.fdb_latexmk
preamble.fls
preamble.glo
preamble.log
main.lot
references.bib.bbl
references.bib.blg
preamble.bbl
Probleme/